@media only screen and (min-width: 80em) {
	main {
		grid-template-columns: 0.15fr 0.7fr 0.7fr 0.7fr 0.15fr;
		grid-gap: 2em;
	}
	
	#block1 {
		grid-column: 2 / 3;
		grid-row: 2/3;
	}
	
	#block2 {
		grid-column: 3 / 4;
		grid-row: 2/3;
	}
	
	#block3 {
		grid-column: 4 / 5;
		grid-row: 2/3;
	}

} 