/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
	
	nav button {display: none;}
	
	nav ul.hide {display: flex;}
	
	nav ul {
		/*margin-left: 2%;*/
		display: flex;
	}
	
	nav ul li {
		float: left;
		flex: 1 1 100%;
	}
	
	nav ul li a {
		border: none;
		border-right:1px solid rgba(0,0,0,0.3);
		padding: .6rem 1rem;
	}

	.title {
		margin-top: 2rem;
		margin-bottom: 3rem;
	}

} /*end large */